@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.card__infos {
  font-family: "Montserrat", sans-serif;
  font-size: 1.18rem;
  font-weight: 800;
  color: #fff;
}

.card__infos > h2,
p {
  color: #001340;
}
