.container {
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
.right {
  flex: 0.5;
  height: 100%;
}
.left {
  display: flex;
  height: 100%;
  flex: 0.5;
  background: rgba(231, 111, 81);
  justify-content: center;
  align-items: center;
}
.Text {
  font-style: italic;
  font-family: Nexussans;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
}

.tab {
  font-weight: 400;
  font-size: 18;
}

.signup__form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 30rem;
  height: 30rem;
  margin: 65px auto;
  border: 0.1rem solid #264653;
  border-radius: 1.5rem;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 35px;
  text-align: center;
}

.input__field {
  padding: 12px 5px;

  font-size: 16px;
  display: block;
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  outline: none;
  transition: all 0.2s;
}

.input {
  padding: 12px 5px;

  font-size: 16px;
  display: block;
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  transition: all 0.2s;
}

a.link {
  text-decoration: none;
  /* color: #4285f4; */
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 18rem;
  height: 3rem;
  font-size: 1.2rem;
  border: none;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  background: #e76f51;
  color: #fff;
}

.button:hover {
  background: #2a9d8f;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.h1 {
  text-align: center;
}
