.container {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-left: 2rem;
}

.main {
  display: flex;
}

.cart__item {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.cart__total {
  flex: 0.3;
}
