.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-left: 0.1rem solid black;
  height: 25rem;
  margin-left: 4rem;
}

.container > p {
  color: gray;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.checkout__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15rem;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 0.6rem;
  color: white;
  font-size: 1.5rem;
  background-color: #e76f51;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.coupon {
  margin-top: 2rem;
}

.coupon__input form > input {
  margin-top: 1rem;
  border: 0.1rem black solid;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.coupon__input form > button {
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.1rem solid black;
}

.checkout__btn:hover,
.coupon__input form > button:hover {
  background-color: #2a9d8f;
  cursor: pointer;
  color: white;
  border-color: #2a9d8f;
  transition: 0.2s ease-in-out;
}
