.checked {
  color: #ffc100;
}

.buy__this {
  background-color: #f38e0d;
  color: #fff;
  transition: all 0.2s;
}

.buy__this:hover {
  background-color: #ff9b17;
  color: #fff;
}

.see__more {
  transition: all 0.2s;
}

.see__more:hover {
  color: #fff;
  background-color: #ff5670;
}
