.Signupbtn {
  background-color: #f38e0d;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.2rem;
  transition: all 0.2s;
}

.Signupbtn:hover {
  color: #fff;
  background-color: #ff9b17;
}

.signupForm {
  text-align: center;
}

.text1 {
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 2rem;
}
.text2 {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ligne {
  color: rgb(199, 197, 197);
}
.text3 {
  font-family: "MyriadPro-Regular";
  font-size: 14px;
  margin-bottom: 4rem;
}

.forum_input {
  margin-top: 2rem;
}
