.navbar {
  background-color: #f4f4f4;
  z-index: 99;
}

.form-control {
  outline: none;
  background-color: transparent;
  border-radius: 2rem;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}


.items__dot {
  color: #fff;
  font-size: small;
  font-weight: 900;
  background-color: rgb(248, 87, 87);
}