.navbar {
  background-color: #f4f4f4;
  z-index: 99;
}

.form-control {
  outline: none;
  border: none;
  background-color: transparent;
}


a,
a:hover {
  text-decoration: none;
  color: inherit;
}
