.container {
  display: flex;
  margin-top: 8rem;
  padding: 0 1rem;
  justify-content: space-evenly;
}

.Content__left,
.Content__right {
  display: flex;
  flex-direction: column;
}

.Content__left > p {
  margin-top: 1rem;
  font-size: 1.3rem;
  width: 50rem;
}

.rating__container {
  display: flex;
  width: 18rem;
  align-items: center;
  margin-top: 1rem;
}

.p {
  color: black;
  font-size: 1.2rem;
  flex: 0.2;
}

.rating__fire {
  display: flex;
  flex: 0.5;
  padding-right: 1rem;
  align-items: center;
  justify-content: space-between;
}

.fire__icon {
  color: #e76f51;
}

.fire__icon__5 {
  color: gray;
}

.add__whishlist,
.watch__preview,
.buy__course {
  display: flex;
  margin-top: 5rem;
  border: 0.1rem black solid;
  border-radius: 0.6rem;
  padding: 0.5rem 2rem;
  align-items: center;
  max-width: 26rem;
  margin-bottom: 1rem;
  transition: 0.2s ease-in-out;
}

.add__whishlist > p {
  margin-left: 8rem;
  font-size: 1.5rem;
}

.add__whishlist:hover,
.watch__preview:hover,
.buy__course:hover {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
  cursor: pointer;
  color: white;
  
}
.watch__preview:hover > .watch__preview__icon {
  color: white;
  transition: 0.2s ease-in-out;
}
.add__whishlist__icon,
.watch__preview__icon {
  color: #2a9d8f;
}

.add__whishlist:hover > * {
  color: white;
  transition: 0.2s ease-in-out;
}

.course__img {
  width: 27rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.watch__preview {
  margin-top: 0;
  color: black;
}

.watch__preview > p {
  margin-left: 8rem;
  font-size: 1.5rem;
}

.course__price {
  font-weight: 100;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buy__course {
  margin-top: 0;
  color: white;
  border-color: #e76f51;
  background-color: #e76f51;
}

.buy__course > p {
  margin-left: 8rem;
  font-size: 1.5rem;
}
