.container {
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: #264653;
  height: 15rem;
  width: 98vw;
  border-radius: 3rem;
}

.slider {
  width: 90%;
  align-self: center;
  margin: auto;
}