.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container video {
  width: 60rem;
}

.download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 3rem;
  background-color: #e76f51;
  color: white;
  border-radius: 0.6rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}
.download__btn:hover {
  cursor: pointer;
  background-color: #2a9d8f;
}
