.container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: #264653;
  border-radius: 0 6rem;
  padding: 2rem 10rem;
  color: white;
}

.top__container {
  display: flex;
  justify-content: space-between;
}

.ul__top,
.ol__bottom {
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 1.3rem;
  line-height: 1.6;
  list-style: none;
}

.ul__top li:before {
  content: "✓";
}

.bottom__container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.ol__bottom {
  list-style-type: decimal;
}
