.container {
  background-color: #f4a261;
  bottom: 0;
  border-radius: 100px 100px 100px 0px;
  color: black;
  height: 14rem;
  margin: 5rem 0 1rem 0;
  width: 100%;
}

.contact__us {
  padding: 3rem;
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts > h2 {
  margin-left: 1rem;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    height: fit-content;
    border-radius: 0;
  }
  .contacts__container {
    flex-direction: column;
  }

  .contacts {
    margin-bottom: 2rem;
  }
}
