.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  background: #ffffff;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.25);
  width: 18rem;
  height: 24rem;
  margin-right: 6rem;
  margin-bottom: 3rem;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.img {
  width: 18rem;
  height: 10rem;
  border-radius: 1rem 1rem 0 0;
  align-items: center;
  margin-bottom: 3rem;
}

.course__name {
  color: black;
  align-self: flex-start;
  margin-left: 0.5rem;
}

.rating__container,
.price__container {
  display: flex;
  width: 18rem;
  align-items: center;
  margin-left: 1rem;
}

.p {
  color: black;
  font-size: 1.5rem;
  flex: 0.2;
}

.rating__fire {
  display: flex;
  flex: 0.5;
  padding-right: 1rem;
  align-items: center;
  justify-content: space-between;
}

.fire__icon {
  color: #e76f51;
}

.fire__icon__5 {
  color: gray;
}

.price__container > .p {
  flex: 0.9;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 500px) {
  .container {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
